//BEGIN header
header.header
  .header__inner.l-center
    .header__logo
      a.main-logo(href="/")
        | bit<b>4</b>coin
    .header__nav
      include _navigation
    .header__buttons
//END header
