//BEGIN navigation
nav.nav
  ul.nav__list
    li.nav__item
      a.nav__link(href="#")
        | Photo Contest
    li.nav__item
      a.nav__link(href="#")
        | Gallery
    li.nav__item
      a.nav__link(href="#")
        | FAQ
    li.nav__item
      a.nav__link(href="#")
        | Contact
    li.nav__item
      .lang
        .lang__current.flag-en
        i.i.i-sort-desc
        ul.lang__list
          li.lang__list-item
            a.lang__link.flag-de(href="#")
          li.lang__list-item
            a.lang__link.flag-fr(href="#")
          li.lang__list-item
            a.lang__link.flag-es(href="#")
//END navigation
