extends layouts/_layout

block vars
  - var pageTitle = 'Index'
  //- - var bodyClass = 'index-page'
  //- - var outClass  = 'out_mod'

block content

  //BEGIN toparea
  .toparea
    include partials/_header
    .toparea__main.l-center
      .toparea__col
        h1.toparea__title
          | Bitcoin Photo Contest
        h2.topare__subtitle
          | Submit your bitcoin photo and win € 1000!
  //END toparea
