.header
  height: 110px
  line-height: 110px
  position: relative
  +clr

.header__logo
  float: left

.header__nav
  float: left

.header__buttons
  float: right


.nav__item
  display: inline-block
  vertical-align: middle
