.toparea
  background: #F0F0F0 img-url('toparea-bg.jpg') no-repeat center
  background-size: cover
  min-height: 70vh
  color: #FFF

.toparea__main
  +clr

.toparea__col
  float: left
  width: 50%
  box-sizing: border-box

.toparea__title
  +f(l, 70)
  color: #FFF
