// generated automatically via gulp-task 'iconfont'

@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('eot'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$i-camera: "\EA01";
$i-prize-1: "\EA02";
$i-prize-2: "\EA03";
$i-prize-3: "\EA04";
$i-sort-asc: "\EA05";
$i-sort-desc: "\EA06";
$i-stopwatch: "\EA07";


%i {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i {
  @extend %i;
  display: inline-block;
}

.i-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.i-2x { font-size: 2em; }
.i-3x { font-size: 3em; }
.i-4x { font-size: 4em; }
.i-5x { font-size: 5em; }
.i-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.i-camera:before { content: $i-camera; }
.i-prize-1:before { content: $i-prize-1; }
.i-prize-2:before { content: $i-prize-2; }
.i-prize-3:before { content: $i-prize-3; }
.i-sort-asc:before { content: $i-sort-asc; }
.i-sort-desc:before { content: $i-sort-desc; }
.i-stopwatch:before { content: $i-stopwatch; }
